node_modules
tmp-dist
src/nodejs/node_modules/jmespath/
src/nodejs/node_modules/@aws-cdk/
!src/nodejs/node_modules/
node_modules/*
!src/nodejs/node_modules/synthetic
dist
.env
.idea
.vscode
.aws/.terraform/
.DS_Store*
